<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome, <%= Helper.current_user(session).username%>!</h1>


    <div class="content">
      <h2>Choose from the following:</h2>

      <h3><a href="/create_rock">Submit a new mineral specimen.</a></h3>
      <br></br>
      <h3><a href="/show_user_rocks">View your mineral specimens.</a></h3>
      <br></br>
      <h3><a href="/all_rocks">View all mineral specimens.</a></h3>
    </div>

    <h3><a href="/signout">Sign Out</a></h3>

  </div>
</div>
