<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome, <%= Helper.current_user(session).username%>!</h1>


    <div class="content">
      <p>We .</p>
    </div>

    

  </div>
</div>
