<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome, <%= Helpers.current_user(session).username%>!</h1>


    <div class="content">
      <h2>Choose from the following:</h2>

      <h3><a href="/rocks/new">Submit a new mineral specimen.</a></h3>
      <br><br>
      <h3><a href="/rocks/show">View your mineral specimens.</a></h3>
      <br><br>
      <h3><a href="/rocks/all">View all of the RockHound member's mineral specimens.</a></h3>
    </div>
    <br><br>

    <form action="/signout" method="post">
    <h2>Good luck on your adventures RockHound!</h2>
    <input type="submit", name="logout" value="Sign Out">
    </form>


  </div>
</div>
