<h1>Welcome, <%= Helper.current_user(session).username%>!</h1>
<br>
<br>
<h2>Submit a new specimin.</h2>
    <form action="/rocks/new" method="post">
        <label for="name">Name:</label>
        <input type="text" name="rock[name]" id="name">
        <label for="description">Description:</label>
        <textarea type="text" name="rock[description]" id="description" rows="5" cols="30"></textarea>
        <label for="location">Location:</label>
        <input type="text" name="rock[location]" id="location">
        <br>
        <br>
        <input type="submit" name="submit" value="submit" id="submit">
    </form>
<h4>Note: You must fill out all fields in order to submit a new specimen.</h4>
<br>
<br>
<h3><a href="/welcome">Back to homepage.</a></h3>



