<h1>Submit a new specimin.</h1>
    <form action="/rocks/new" method="post">
        <label for="name">Name:</label>
        <input type="text" name="rock[name]" id="name">
        <label for="description">Description:</label>
        <textarea type="text" name="rock[description]" id="description" rows="5" cols="30"></textarea>
        <label for="location">Location:</label>
        <input type="text" name="rock[location]" id="location">
        <br></br>
        <input type="submit" name="submit" value="submit" id="submit">
    </form>


