<h1>Edit your specimen.</h1>

<form action="/rocks/<%= @rock.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label>Name:</label>
    <br><br>
    <input type="text" name="rock[name]" id="name" value="<%=@rock.name%>">
    <br><br>
    <label>Current Description:</label>
    <br><br>
    <textarea type="text" name="rock[description]" id="description" rows="5" cols="30"><%=@rock.description%></textarea>
    <br><br>
    <label>Current Location:</label>
    <br><br>
    <input type="text" name="rock[location]" id="location" value="<%=@rock.location%>">
    <br><br>
    <input type="submit" value="submit" id="submit">
<br>
<br>
    <h4>Note: You must fill out all fields in order to edit specimen.</h4>
</form>
<br><br>
<h3><a href="/welcome">Back to homepage.</a></h3>



