<h1>Welcome to RockHound</h1>
<img src="/images/rocksample.jpg" height="300" width="300">
<p>At RockHound you can sign-up and save all the rocks you find on your hunts!
You just enter the name of the mineral you found, a brief description, and its location.
You will also be able to see what other members have found!</p>

<h3><a href="/signin">Sign in!</a> or <a href="/signup">Sign Up!</a></h3>
